/* Color de fondo de toda la página */

body {

    background-color: #dff3ff;

    font-family: Arial, sans-serif;

    font-size: 18px;

    text-align: center;

}



/* Color del título principal */

h1 {

    color: #174a8b;

}



/* Estilo de los títulos secundarios */

h2 {

    color: #236b8e;

}



/* Tamaño de los párrafos */

p {

    font-size: 18px;

}



/* Tamaño de la imagen */

img {

    width: 500px;

    max-width: 90%;

}



/* Estilo del enlace */

a {

    color: #0066cc;

    font-weight: bold;

}